# Node build artifacts
node_modules
npm-debug.log
packages-lock.json

# Local development
*.env
*.dev
*.swp
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Custom
public/images/*
public/json/*
keys
