<html>
<head>
  <% include ../partials/header.ejs %>
  <title>receipt</title>
</head>
<body>
  <!-- Header -->
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="camera mt-3">
          <video id="video" class="mb-2">Video stream not available.</video>
          <br>

          <button id="flipbutton">
            <span class="fa fa-refresh"></span>
          </button>
          <button type="button" id="startbutton" class="btn btn-primary">
            <span class="fa fa-camera"></span>
          Take photo</button>
        </div>
        <div id="canvas_wrapper" class="d-none">
          <canvas id="canvas">
          </canvas>
          <br>
          <button id="nextbutton" class="btn btn-success">
            <span class="fa fa-check"></span>
            Confirm Receipt Picture</button>
        </div>
        <div id="output" class="d-none mt-3">
          <img id="photo" class="mb-2" data-stage="receipt" data-nextstage="summary" alt="The screen capture will appear in this box.">
          <br>
        </div>
        <!-- <input type="file" name="image" accept="image/*" capture="user"> -->
        <h5 class="mt-3">Step 3: Photo of Receipt</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="javascripts/photocapture.js"></script>
</body>
</html>
